@model customLms.Areas.Instructor.Models.SubscriptionOfCourseModel
@using customLms.Extensions

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CourseContent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("OldSubscriptionId",Model.subscriptionId)

        @Html.Hidden("OldCourseId", Model.courseId)




        <div class="form-group">
            @Html.LabelFor(model => model.subscriptions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.subscriptionId,
               Model.subscriptions.ToSelectListItem(Model.subscriptionId),
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.subscriptionId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.courses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.courseId,
               Model.courses.ToSelectListItem(Model.courseId),
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.courseId, "", new { @class = "text-danger" })
            </div>
        </div>
        



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
